# Default ignored files
/shelf/
/workspace.xml

./

../.idea/
../practice/target/

/compiler.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/myleets.iml
/runConfigurations.xml
/uiDesigner.xml
/vcs.xml
